[Desktop Entry]
Type=Application
Name=Mullvad IP Toggle
Comment=Automatically rotates the location/IP of your Mullvad VPN connection
Exec=x-terminal-emulator -e "__EXEC_PATH__"
Icon=network-vpn
Terminal=false
Categories=Network;
